*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
 }
body{
  height: 100vh;
}
#apresentacao{
  padding-top: 50px;
  display: flex;
}
.apr-left{
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.apr-rigth{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-rigth{
  height: 400px;
  width: 600px;
  background-image: url("../assets/img/igrejaglobal.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.espacamento{
  height: calc(100vh - 50px);
  margin-top: 50px;
}
#finaleira{
  background-color:blueviolet;
  height: 100%;
}
#navheader{
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
}
.sess{
  height: calc(100%);
}
.logo{
  position: fixed;
  left: 0;
  margin-left: 10px;
  height: 50px;
  width: 200px;
  background-image: url("../assets/img/adn.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.botoes{
  position: fixed;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
section{
  transition: all .6s ease-in-out;
 -webkit-transition: all .6s ease-in-out;
}
.p{
  font-size: 18px;
  color: #518b8f;
}
.text-header{
  margin-left: 60px;
  font-size: 50px;
  font-style: unset;
  text-size-adjust: 10px;
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
}
.session-title{
  text-align: center;
  display: flex;
  justify-content: center;
  p{
    color: #518b8f;
    font-size: 40px;
  }
}
.cards-funcionalidades{
  margin: 10px 10px 0px 10px;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-func{
  height: 100%;
  background-color: #9fced1;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 6px -5px 8px -2px rgba(0,0,0,0.26); 
  box-shadow: 6px -5px 8px -2px rgba(0,0,0,0.26);
  width: 250px;
}
#funcionalidades{
  height: 100vh;
  padding-top: 50px;
}
#planos{
  height: 100vh;
}
#sobre{
  height: 78vh;
  padding-top: 50px;
}
.cards-planos{
  margin: 30px 10px 0px 10px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-pl{
  height: 100%;
  background-color: #9fced1;
  margin: 10px;
  width: 250px;
  -webkit-box-shadow: 6px -5px 8px -2px rgba(0,0,0,0.26); 
  box-shadow: 6px -5px 8px -2px rgba(0,0,0,0.26);
  border-radius: 10px;
}
.title-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  margin-bottom: 30px;
}
.funcoes{
  margin: 7px 0px 0px 10px;
}
.title-card-combo{
  width: 100%;
}
.title-card-plano{
  margin-top: 40px;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-card-price{
  margin-bottom: 10px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sobre-nos{
  margin: 20px;
  display: flex;
  height: 100%;
  background-color: #518b8f;
}