.g-icon{
  background-repeat: no-repeat;
  background-size: 70px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
}
.g-dashboard{
  background-image: url('./icons/chart.png');
}