.g-icon{
  background-repeat: no-repeat;
  background-size: 100px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}
.g-dashboard{
  background-image: url('./icons/chart.png');
}
.g-quadro{
  background-image: url('./icons/cs.png');
}
.g-new-names{
  background-image: url('./icons/novos-convertidos.png');
}
.g-safe-file{
  background-image: url('./icons/safe-file.png');
}
.g-certificate{
  background-image: url('./icons/certificate.png');
}
.g-managment-finance{
  background-image: url('./icons/managment-finance.png');
}
.g-user-security{
  background-image: url('./icons/security.png');
}
.g-report{
  background-image: url('./icons/report.png');
}